html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.content-container {
    flex: 1;
    color: #fff; 
}

.center {
    display: flex;
    justify-content: center;
}

.right {
    display: flex;
    justify-content: right;
}

